// ###########################
// ######## Header ###########
// ###########################
@import "color.scss";
header{
    height:100vh;
    // background-image:url(../../../img/header.jpg);
    background-position:center top;
    background-size: cover 100%;
    @include couleur(3,0);
    @include margin(0,0,0,0);
    background-repeat:no-repeat;
    .carousel{
        height: 100%;
        width: 100%;
        .carousel-inner{
            height: 100%;
            width: 100%;
            .carousel-item{
                height: 100%;
                width: 100%;
                background-color: red;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header{
        height: 100vh;
        .carousel{
            height: 100vh;
            .carousel-inner{
                height: 100%;
                width: 100%;
                .carousel-item{
                    height: 100%;
                    width: 100%;
                    background-position: center top;
                }
            }
        }
    }
}